#map {
  height: 400px;
}

body {
  background-color: #FFFFFF;
}
.ui.menu {
  border-radius: 0;
}

.ui.main.container {
  padding-top: 1em;
}

.ui.footer.segment {
  position: fixed;
  bottom: 0px; 
  width: 100%;
}

@media(max-height: 580px) {
  h1 {
    display: none;
  }
  .ui.main.container {
    padding-top: 0;
  }
}
